# Proyecto UD4
#### UD4. Redes Neuronais
#### MP. Sistemas de Aprendizaxe Automáticos
#### IES de Teis (Vigo), Cristina Gómez Alonso

Entrega en el moodle el fichero notebook solución así como un pdf generado con el contenido del notebook y su ejecución.

### Datasets de Clasificación: Cristales vs Crédito

Para este proyecto os doy opción a que escojáis entre dos datasets diferentes.
El primero no os exigirá ningún preprocesado previo, mientras que el segundo sí.
Por otro lado, el primero es clasificación multiclase, mientras que el segundo es de clasificación binaria.
La calificación máxima en caso de que escojái el primero será de 8 puntos mientras que si escojéis el segundo será de 10 puntos.

#### Dataset Glass

Disponemos de un dataset con 214 instancias clasificadas en 7 tipos diferentes de cristales.

Lista de atributos para cada entrada será:

* 1. id: valor del 1 to 214
* 2. idx_refraccion: índice de refracción
* 3. sodio  (unidad de medida: porcentaje en peso del elemento (igual en el resto de atributos del 4 al 10))
* 4. magnesio
* 5. aluminio
* 6. silicio
* 7. potasio
* 8. calcio
* 9. bario
* 10. hierro
* 11. tipo: tipo de cristal:
-- 1 vidrio flotado (o sencillo) para ventanas de edificios
-- 2 vidrio no flotado para ventanas de edificios
-- 3 vidrio flotado (o sencillo) para ventanas de vehículos
-- 4 vidrio no flotado para ventanas de vehículos
-- 5 contenedores
-- 6 vajillas
-- 7 faros de vehículos

#### Dataset Crédito

Disponemos de un dataset con 1000 instancias clasificadas en 2 tipos diferentes de clientes: a los que se les otorga un crédito y a los que no.

Lista de atributos para cada entrada será:

* checking_status: estado de la cuenta corriente existente, en marcos alemanes.
* duration: duración en meses
* credit_history: historial crediticio (créditos tomados, reembolsados debidamente, atrasos, cuentas críticas)
* purpose: finalidad del crédito (coche, televisión,…)
* credit_amount: cantidad solicitada de crédito
* saving_status: estado de su cuenta de ahorro/bonos, en marcos alemanes.
* employment: empleo actual en número de años.
* installament_commitment: tasa de cuota en porcentaje de ingresos disponibles
* personal_status: estado personal (casado, soltero,…) y sexo
* other_parties: otros deudores / garantes
* residence_since: residencia actual desde hace X años
* property_magnitude: propiedades (por ejemplo, casas, pisos...)
* age: Edad en años
* other_payment_plans: otros planes de cuotas (bancos, tiendas)
* housing: vivienda (alquiler, propia,…)
* existing_credits: número de créditos existentes con esta entidad
* job: trabajo
* num_dependents: número de personas dependientes o a las que proporcionan manuntención
* own_phone: teléfono (yes, no)
* foreign_worker: trabajador extranjero (yes, no)
* class: clase: good (crédito otorgado), bad (crédito denegado)

Escoge uno de los dos datasets anteriores y resuelve los siguientes apartados.

## 1. Importación del dataset

In [ ]:
import pandas as pd
cristales = pd.read_csv('data/glass.csv', header=None)
cristales.columns = ["id","idx_refraccion","sodio","magnesio","alumnio","silicio","potasio","calcio","bario","hierro","tipo"]
cristales

,id,idx_refraccion,sodio,magnesio,alumnio,silicio,potasio,calcio,bario,hierro,tipo
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
209,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,7
210,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,7
211,212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.0,7
212,213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.0,7
213,214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.0,7

In [ ]:
cristales.describe()

,id,idx_refraccion,sodio,magnesio,alumnio,potasio,calcio,bario,hierro,tipo
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,4.419346,1.444907,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,25.492038,0.499270,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516522,12.907500,2.115000,1.190000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,375.000000,3.500000,6.210000,16.190000,3.150000,0.510000,7.000000

In [ ]:
cristales.isnull().sum()

id                0
idx_refraccion    0
sodio             0
magnesio          0
alumnio           0
silicio           0
potasio           0
calcio            0
bario             0
hierro            0
tipo              0
dtype: int64

In [ ]:
import pandas as pd
creditos = pd.read_csv('data/credits.csv')
creditos

,ID,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,vty,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,dkl,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,bwf,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,qln,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,uzh,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,jlf,no checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,...,real estate,31,none,own,1,unskilled resident,1,none,yes,good
996,imr,<0,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,...,life insurance,140,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,xnt,no checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,...,car,38,none,own,1,skilled,1,none,yes,good
998,egn,<0,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,...,no known property,23,none,for free,1,skilled,1,yes,yes,bad
999,kcd,0<=X<200,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,...,car,27,none,own,1,skilled,1,none,yes,good

In [ ]:
creditos.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.746000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,12.367961,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,149.000000,4.000000,2.000000

In [ ]:
creditos.isnull().sum()

ID                         1
checking_status            0
duration                   0
credit_history             0
purpose                    0
credit_amount              0
savings_status             0
employment                 0
installment_commitment     0
personal_status            0
other_parties              0
residence_since            0
property_magnitude         0
age                        0
other_payment_plans        0
housing                    0
existing_credits           0
job                        0
num_dependents             0
own_telephone             10
foreign_worker             0
class                      0
dtype: int64

## 2. EDA&Preprocessing (2 puntos crédito, 1 punto cristales)

In [ ]:
# Realiza un análisis exploratorio de los datos. ¿Puedes extraer alguna información? ¿Hay valores duplicados? ¿Hay outliers? ¿Existen features correlacionadas entre sí?
# Realiza un preprocesado de los datos antes de pasar el siguiente apartado

## 3. Creación RRNN, entrenamientos, evaluaciones, predicciones y representación gráfica (4 puntos crédito, 3 puntos cristales)

In [ ]:
# Crea dos modelos de redes neuronales densamente conectada. Entrena ambos con el 80% de los datos y evalúa su resultado con el 20% de testing. ¿Qué conclusiones extraemos? ¿Cuántos parámetros necesitará crear cada una de tus RRNN? ¿Qué número de epochs consideras más adecuado para tu dataset? ¿Por qué?
# Comentario: explica detallamente lo que haces al crear cada una de las capas de tu red y porque escoges los hiperparámetros que has decidido aplicar.

## 4. Selección de otro modelo de aprendizaje supervisado (2 puntos)

In [ ]:
# Crea otro modelo de aprendizaje supervisado, entrénalo y evalúa sus resultados. ¿Qué resultados obtienes? Justifica tu respuesta.

## 5. Análisis comparativo y Conclusiones (2 puntos)

In [ ]:
# Contrasta tus redes neuronales densamente conectada con tu modelo de aprendizaje supervisado clásico. ¿Con cuál te quedas? ¿Qué motivos crees que han condicionado tus resultados? ¿Estás satisfecho? ¿Tienes alguna propuesta de mejora? Justifica tus respuestas